*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(#11c6e2,#33001b) ;
   display: flex;
   align-items: center;
   justify-content: center;
}
.calculator{
    background-image: linear-gradient(#9926ec,#71d2c2);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;

 
    
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(32, 191, 59, 0.1),5px 5px 15px rgba(31, 31, 31, 0.2);
    background: transparent;
    font-size: 20px;
    color: rgb(19, 13, 13);
    cursor: pointer;
    margin: 10px;
    background-image: linear-gradient(rgba(154, 255, 215, 0.76),rgb(5, 65, 121));
    border: 2px solid black;

}
form #inp{
    border: 0;
    background-color:   rgba(83, 247, 89, 0.966);
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    border: 2px solid ;   
    border-radius: 10px;
    background-color:   rgb(10, 244, 100);


}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background-image: none;
}
form input.equal{
    width:145px;
}
form input.operator{
    color: rgba(12, 15, 12, 0.933);
}